.item-count {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.item-count .botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  
}

.botones button {
    width: 50px;
    height: 30px;
    color: #19191a;
    background-color: #53565b;
    border-radius: 15px;
    font-weight: bold;
    border: none;
}

button:hover {
    cursor: pointer;
}

.item-count .comprar {
    padding: 10px 0;
    border-radius: 10px;
    background-color: #3887BE;
    color: white;
}